<app-navbar></app-navbar>
<div class="container">
  <button id="addusers" (click)="addUser()">+ Add Users</button>
</div>
<h1>Users Table</h1>
<table id="users">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Gender</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let user of formValue; let i = index">
    <td>{{ user.name }}</td>
    <td>{{ user.address }}</td>
    <td>{{ user.phoneNumber }}</td>
    <td>{{ user.gender }}</td>
    <td>
      <button (click)="editUser()">Edit</button>
      <button (click)="deleteUser(i)">Delete</button>
    </td>
  </tr>

</table>
