<app-navbar></app-navbar>
<h2 id="forms">Add Users Form</h2>
<div class="formSubmit">

    <p><b>Please fill the form below</b></p>
    <form [formGroup]="formValidation" (ngSubmit)="addUsers()">

        <label for="uid">U_ID</label>
        <input type="text" id="uid" class="color" placeholder="Your id.." formControlName="uid">
        <br>

        <label for="name">Name</label>
        <input type="text" id="name" class="color" placeholder="Your name.." formControlName="name">
        <span class="error"
            *ngIf="formValidation.get('name')?.invalid && (formValidation.get('name')?.touched || formValidation.get('name')?.dirty || isSubmitted)">
            <ng-container *ngIf="formValidation.get('name')?.hasError('required')"> Name required!</ng-container>
            <ng-container *ngIf="formValidation.get('name')?.hasError('minlength')">Name must be at least 6
                characters!</ng-container>
            <ng-container *ngIf="formValidation.get('name')?.hasError('maxlength')">Name must be less than 15
                characters!</ng-container>
        </span>
        <br>

        <label for="address">Address</label>
        <input type="text" id="address" class="color" placeholder="Your address.." formControlName="address">
        <span class="error"
            *ngIf="formValidation.get('address')?.invalid && (formValidation.get('address')?.touched || formValidation.get('address')?.dirty || isSubmitted)">
            <ng-container *ngIf="formValidation.get('address')?.hasError('required')">Address required!</ng-container>
        </span>
        <br>

        <label for="dob">DOB</label>
        <input type="date" id="dob" class="color" placeholder="Your dob.." formControlName="dob">
        <span class="error"
            *ngIf="formValidation.get('dob')?.invalid && (formValidation.get('dob')?.touched || formValidation.get('dob')?.dirty || isSubmitted)">
            <ng-container *ngIf="formValidation.get('dob')?.hasError('required')">DOB required!</ng-container>
        </span>
        <br>
        
        <label for="phonenumber">Phone Number</label>
        <input type="text" id="phonenumber" class="color" placeholder="Your Phone Number.."
            formControlName="phonenumber">
            <span class="error"
            *ngIf="formValidation.get('phonenumber')?.invalid && (formValidation.get('phonenumber')?.touched || formValidation.get('phonenumber')?.dirty || isSubmitted)">
            <ng-container *ngIf="formValidation.get('phonenumber')?.hasError('required')">Phone number is required</ng-container>
            <ng-container *ngIf="formValidation.get('phonenumber')?.hasError('pattern') && !formValidation.get('phonenumber')?.hasError('required')">Enter a valid phone number</ng-container>
        </span>
        
        <br>

        <div class="input" formArrayName="email">
            <div class="addIdBtn">
                <button type="button" (click)="addEmails()" class="addEmailsBtn">+ Email</button>
            </div>
            <div class="deleterow" *ngFor="let emailId of emails.controls; let i=index">
              
                <input class="inputF" type="text" [formControlName]='i' placeholder="Email {{i+1}}: xyz@abc.com">
                <button type="button" (click)="deleteEmails(i)" [disabled]="!canDeleteEmail()" class="deleteEmailsBtn">- </button>
            </div>
            <br>

            <span class="error" *ngFor="let i=index">   
                <ng-container *ngIf="(emails.controls[i]?.errors?.['required'] && (emails.controls[i]?.dirty || emails.controls[i]?.touched ||isSubmitted))">
                    Field Required</ng-container>
                <ng-container *ngIf="(formValidation.get('email')?.invalid && !(formValidation.get('email')?.errors?.['required']))">
                </ng-container>
            </span>
        </div>

        <label for="gender">Gender:</label>
        <input type="radio" id="male" value="male" formControlName="gender">
        <label for="male">Male</label>
        <input type="radio" id="female" value="female" formControlName="gender">
        <label for="female">Female</label><br>
        <span class="error"
            *ngIf="formValidation.get('gender')?.invalid && (formValidation.get('address')?.touched || formValidation.get('address')?.dirty || isSubmitted)">
            <ng-container *ngIf="formValidation.get('address')?.hasError('required')">Gender required!</ng-container>
        </span>
        <br>

        <input type="submit" value="Add Users" id="btn">
    </form>
</div>