.background{
    
  position:fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height:100%;
  background-image: url(".//bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  color:#f8b700;
  text-align: center;
  margin-top: 8%;
  font-size: 50px;
}

h4{
  color:white;
  text-align: center;
  
  font-size: 15px;
}

h1{
  color:#f8b700;
  text-align: center;
 margin-left: 30px;
  font-size: 80px;
}

#userBtn{
  width: 10%;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px;
  border: 3 px solid;
  border-color: #f8b700;
  border-radius: 4px;
  font-size: 15px;
  border-radius: 20px;
}

#userBtn:hover {
  background-color: #fff5a9;
}

#taskBtn{
  width: 10%;
  background-color: #ffffff;
  color: #0e0d0d;
  padding: 10px 10px;
  margin-left: 2%;
  border: 3 px solid;
  border-color: #f8b700;
  border-radius: 4px;
  font-size: 15px;
  border-radius: 20px;
}

#taskBtn:hover {
  background-color: #fff5a9;
}

.button{
  display:flex;
  justify-content: center;
  align-items: center;
}



