
<div>
    <img class="background">
</div>

<app-navbar></app-navbar>

<!-- <div class="logout">
    <button (click)="logOut()" id="logoutbtn" >Logout</button>
</div> -->

<div class="heading1">
    <h2>Welcome To</h2>
    
    <h4>Task Management Application</h4>

</div>

<div class="heading2">
    <h1>Organize</h1>
    
    <h1>Your Daily Task</h1>

</div>
<div class="button">
    <button (click)="goToUsers()" id="userBtn" >Go To Users</button>
    <button (click)="goToTask()" id="taskBtn" >Go To Task</button>
</div>




